:root{
    --main-bg-color: #d2def1;
    --secondary-bg-color: #a8c3dd;
    --main-object-color: #757cbb;
    --secondary-object-color: #5d569c;
    --main-text-color: #070808;
    --main-link-color:#fbd13d;
}
