section#dailyPokemonContainer
{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 20px;
    align-items: center;
    border: 2px solid black;
    background-color: var(--main-object-color);
    border-radius: 20px;
}

section#welcomeSection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 4vh;
}
section#welcomeSection > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}
section#welcomeSection > div:nth-child(2)
{
    background-image: url("../images/every-pokemon.jpg");
    position: relative;
    gap: 20vh;
}
section#welcomeSection > div:nth-child(1)
{
    background-color: var(--main-object-color);
}
section#welcomeSection > div h2
{
    background-color: var(--main-object-color);
    width: 100%;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}
section#welcomeSection > div a
{
    background-color: var(--main-object-color);
    width: 100%;
    margin: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}
section#welcomeSection > div a:hover
{
    background-color: var(--secondary-object-color);
}
section#welcomeSection > div p
{
    width: 80%;
}

@media screen and (min-width: 1024px)
{
    section#welcomeSection 
    {
        flex-direction: row;
        justify-content: center;
    }
    section#welcomeSection > div
    {
        height: 100%;
        width: 40%;
    }
}