main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    background-color: var(--secondary-bg-color);
}
section#filters
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#filters input#searchBar
{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
section#pokemonCardContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
article.pokemon a
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Pixel-regular";
}
article.pokemon
{
    background-color: var(--main-object-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5vh;
    min-width: 12rem;
    width: 70%;
    border: solid  black 1px;
    border-radius: 10px;
    text-wrap: wrap;
}
article.pokemon:hover 
{
    background-color: var(--secondary-object-color);
    position: relative;
    bottom: 20px;
    animation: shake 0.75s linear infinite;
}
@keyframes shake {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(2deg);
    }
    75%{
        transform: rotate(-2deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}
article.pokemon img
{
    width: 95%;
    border-radius: 20px;
    image-rendering: pixelated;
    margin-bottom: 10px;
}
article.pokemon a > header
{
    background-color:var(--secondary-object-color);
    width: 80%;
    margin: 0;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: var(--main-link-color);
}
section#pagination
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 5vh;
}
section#pagination > *
{
    background-color: var(--main-object-color);
    border-radius: 10px;
    padding: 10px;
    border: solid black 1px;
    color: var(--main-link-color);
    font-family: pixel-regular;
}
section#pagination a#loadMore:hover
{
    cursor: pointer;
    background-color: var(--secondary-object-color);
}
a#toTop
{
    text-align: right;
    font-size: 6rem;
    font-family: Pixel-icons;
    position: fixed;
    display: none;
    right: 0;
    bottom: 0;
}


@media screen and (min-width: 1024px)
{
    section#pokemonCardContainer
    {
        flex-direction: row;   
        flex-wrap: wrap; 
        justify-content: space-around;
    }
    article.pokemon
    {
        width: 17%;
    }
}