section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
section#pagination
{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    max-width: 700px;
    width: 100%;
}
section#pagination a
{
    display: inline-block;   
    background-color: var(--main-object-color);
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}
section#pagination a:hover{
    background-color: var(--secondary-object-color);
}
section#pagination > div img
{
    height: 5em;
    width: 5em;
    display: none;
    position: absolute;
    top: 100%; /* show it below the button */
    left:25%;
    z-index: 10;
}
section#pagination > div:hover img
{
    display: flex;
}
section#pagination > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
section.info
{
    display: flex;
    flex-direction: column;
}
section#details > section
{
    width: 100%;
}
img#profile
{
    image-rendering: optimizeQuality;
    width: 70%;
}

section#evolutions
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
section#evolutions > div a
{
    padding: 20px;
    background-color: var(--main-object-color);
    border: 2px solid black;
    border-radius: 20px;
}
section#evolutions > div a:hover 
{
    background-color: var(--secondary-object-color);
}
section#evolutions > div:not(.arrow)
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    align-items: center;

}


@media screen and (min-width: 1024px)
{
    section#evolutions
    {
        flex-direction: row;
    }
    section#evolutions > div.arrow
    {
        transform: rotate(-90deg);
    }
}