section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
section.pagination
{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    width: 90%;
}
section.pagination a
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    width: 300px;
    height: 10vh;
    background-color: var(--main-object-color);
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}
section.pagination a:hover
{
    background-color: var(--secondary-object-color);
    overflow: visible;
}
section.pagination a:hover img
{
    animation: "scale" 0.1s linear;
    transform: scale(1.2);
}
@keyframes scale
{
    0%
    {
        transform: scale(1) rotate(0deg);
    }
    33%
    {
        transform: scale(1.05) rotate(5deg);
    }
    67%
    {
        transform: scale(1.15) rotate(-5deg);
    }
    100%
    {
        transform: scale(1.2) rotate(0deg);
    }
    
}
section.pagination img
{
    image-rendering: auto;
    display: inline-block;
    position: relative;
    height: 100px;
    aspect-ratio: 1 / 1;
    top: -20px;
}
section.pagination span
{
    text-wrap: wrap;
    height: 100%;
}
section.pagination h2
{
    margin: 0;
    height: fit-content;
}
section.info
{
    display: flex;
    flex-direction: column;
}
section#details
{
    margin-top: 4vh;
    background-color: var(--main-object-color);
    border: 2px solid black;
    border-radius: 20px;
    padding-bottom: 4vh;
}
section#details h1
{
    background-color: var(--secondary-object-color);
}
section#details > section
{
    width: 100%;
}
img#profile
{
    image-rendering: optimizeQuality;
    width: 70%;
}
section#flavorTextContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
section#flavorTextContainer h2
{
    margin-bottom: 0;
}
section#flavorTextContainer p
{
    font-size: 1.2rem;
    max-width: 80%;
}
select#flavorTextSelect
{
    background-color: var(--secondary-object-color);
    border: 1px solid black;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    color: var(--main-link-color);
    font-family: pixel-regular;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);

}
select#flavorTextSelect:hover
{
    cursor: pointer;
}
section#evolutions
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
section#evolutions > div a h2
{
    margin: 0;
}
section#evolutions > div a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--main-object-color);
    border: 2px solid black;
    border-radius: 20px;
}
section#evolutions > div a:hover 
{
    background-color: var(--secondary-object-color);
}
section#evolutions > div.evolution
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    align-items: center;
    width: 15rem;
}
section#evolutions > div.evolution a img
{
    margin-left: auto;
    margin-right: auto;
}
section.types
{
    display: flex;
    flex-direction: column;
    text-align: start;
}
section.types > div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
section.types img
{
    border: 2px black solid;
    border-radius: 5px;
}
section#typeSection
{
    width: 90%;
}
section#statSection
{
    width: 80%;
    border-radius: 20px;
    border: 2px solid black;
    background-color: var(--main-object-color);
}
section#statSection h2
{
    margin-bottom: 0;
}
section#statSection ul
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
section#statSection ul li
{
    display: flex;
    justify-content: space-between;
    font-family: pixel-regular;
    font-size: 1.2rem;
    color: var(--main-link-color);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    padding: 10px;
}
section#statSection ul li:nth-child(odd)
{
    background-color: var(--secondary-object-color);
}
section#typeStatSection
{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 100%;
}
section#profileTextSection
{
    display: flex;
    flex-direction: column;
}
a#linkBack
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--main-object-color);
    font-size: 1.3rem;
}
a#linkBack:hover
{
    background-color: var(--secondary-object-color);
}

@media screen and (min-width: 1024px)
{
    section#evolutions
    {
        flex-direction: row;
    }
    section#evolutions > div.arrow
    {
        transform: rotate(-90deg);
    }
    section.pagination
    {
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    section#flavorTextContainer
    {
        width: 80%;
    }
    section#statSection
    {
        width: 40%;
    }
    section#typeSection
    {
        width: 40%;
    }
    section#typeStatSection
    {
        flex-direction: row;
    }
    section#profileTextSection
    {
        flex-direction: row;
    }
    section#details
    {
        width: 80%;
    }
}