section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
section#pagination a{
    background-color: var(--main-object-color);
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
section#pagination a:hover{
    background-color: var(--secondary-object-color);
}
section#pagination img
{
    height: 2em;
    width: 2em;
    display: none;
    position: static;
    top: 4vh;
}
section#pagination > div:hover img
{
    display: inline-block;
}
section#pagination > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}